/*SVG ANIMACIONES*/
body {
    padding: 1em;
    background: white;
    
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
}


/*
Color del Loading
*/
svg path,
svg rect {
    fill: black;
}